@tailwind base;
@tailwind components;
@tailwind utilities;

/* === App === */
.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 600px;
}

.App-header {
}

/* === Navbar === */
.nav {
    border-bottom: 2px solid rgb(218, 218, 218);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    padding-left: 1rem;
}

.nav-menu {
    width: 50%;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-item {
    width: 12rem;
    height: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* === Main === */
.main-section {
    
}

/* === Footer === */
.footer {
    margin-bottom: 0;
    padding-top: 1rem;
    border-top: 2px solid rgb(218, 218, 218);
}

/* === ItemList === */
.ItemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* === ItemCard === */
.ItemCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem .5rem;
    min-width: 20rem;
}

.ItemCard h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

.ItemCard img {
    max-width: 25rem;
}

.ItemCardPrice {
    font-weight: bold;
    font-size: 1.5rem;
}

/* === ItemCount === */
.ItemCount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemCount-title {
    padding-top: .5rem;
}

.ItemCount-buttons {
    display: flex;
}

.ItemCount-cantidad {
    margin: 0rem 2rem;
}

/* === ItemDetail === */
.ItemDetailCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem .5rem;
}

.ItemDetailCard h1 {
    font-weight: bold;
    font-size: 3rem;
}