@tailwind base;
@tailwind components;
@tailwind utilities;

/* .App {
    display: flex;
    flex-direction: column;
    align-content: space-between;


}

.nav {
    border-bottom: 1px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    width: 50%;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-item {
    width: 12rem;
    height: 2.5rem;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {

} */