@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}
    
body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

/* === App === */
.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* === main-section === */
.main-section {
    margin-bottom: 5rem;
}

/* === Footer === */
.footer {
    padding-top: 1rem;
    border-top: 2px solid rgb(218, 218, 218);
    padding-left: 1rem;
    position: absolute;
    width: 100%;
    bottom: 2rem;
}

/* === Navbar === */
.nav {
    border-bottom: 2px solid rgb(218, 218, 218);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    padding-left: 1rem;
}

.nav-menu {
    width: 50%;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    width: 12rem;
    height: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.CartWidget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4rem;
    margin-right: 1rem;
}

/* === ItemList === */
.ItemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* === ItemCard === */
.ItemCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem .5rem;
    min-width: 20rem;
}

.ItemCard h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

.ItemCard img {
    max-width: 25rem;
}

.ItemCardPrice {
    font-weight: bold;
    font-size: 1.5rem;
}

/* === ItemCount === */
.ItemCount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemCount-title {
    padding-top: .5rem;
}

.ItemCount-buttons {
    display: flex;
}

.ItemCount-cantidad {
    margin: 0rem 2rem;
}

/* === ItemDetail === */
.ItemDetailCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem .5rem;
}

.ItemDetailCard h1 {
    font-weight: bold;
    font-size: 3rem;
}

/* === Others === */
.loadingBox {
    display: flex;
}

.loadingItem {
    margin: 10rem auto;
}

.loadingText {
    font-size: 2rem;
}

.ItemCardShoppingCartBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    min-width: 18rem;
    border-radius: .5rem;
}

/* === CartContainer === */
.CartContainer {
    padding-left: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CartContainerTitle {
    align-self: flex-start;
    margin-bottom: 2rem;
}

.CartContainerText {
    font-size: 1.5rem;
}

.CartList {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-width: 50rem;
}

.cartTotal {
    align-self: flex-end;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 10rem;
    height: 2rem;
    margin: 1rem 2rem;
    
    background-color: rgb(255, 213, 150);
    border-radius: .5rem;
    box-shadow: .2rem .2rem .3rem rgb(148, 148, 148);
}

.cartTotal p {
    font-size: 1.2rem;
    font-weight: bold;
}

.CartContainer--button {
    align-self: flex-end;
    margin-right: 2rem;

    background-color: rgb(0, 183, 255);
    width: 12rem;
    height: 3rem;
    border-radius: .5rem;
    
}

.CartContainer--button--text {
    font-size: 1.2rem;
}

.CartContainer--backTo {
    align-self: flex-start;
}

/* === CartCard === */
.CartCard {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .5rem;
    margin: .3rem 0;

    background-color: rgb(150, 255, 255);
    border-radius: .5rem;
    box-shadow: .2rem .2rem .3rem rgb(148, 148, 148);
}

/* === CartForm === */
.CartFormContainer {
    position: fixed;
    background-color: white;

    width: 30rem;
    height: 22rem;
    box-shadow: .2rem .2rem .3rem rgb(148, 148, 148);
    padding: 1rem;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.CartFormHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.CartFormTitle {
    font-size: 1.2rem;
}

.CartFormClose {
    font-size: 1.2rem;
}

.CartForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.CartFormInput {
    border: 2px solid rgb(218, 218, 218);
}

.CartFormButton {
    margin-top: 1.5rem;
    background-color: rgb(0, 183, 255);
    width: 12rem;
    height: 3rem;
    border-radius: .5rem;
}

/* === Success page === */
.SuccessContainer {
    margin: 10rem auto;
    padding-left: 10rem;
}